{% extends 'base.html.twig' %}


{% block body %}
<!-- container is in the base file -->
<div class="row">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img id = "slides" src="img/Opera.jpg" alt="First slide">
          <!-- Static Header -->
          <div class="header-text hidden-xs">
          </div><!-- /header-text -->
        </div>
        <div class="item">
          <img id = "slides" src="img/Belvedere.jpg" alt="Second slide">
        </div>
        <div class="item">
          <img id = "slides" src="img/viennaNight.jpg" alt="Third slide">
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div><!-- /carousel -->
    </div>
<div class="row">
	<h1 class="page-header text-center">Big Events in Vienna</h1>
	{% for events in events %} <!-- do not forget to bring back results in array -->
	<div  class="col-md-2 col-md-offset-3  border " >
		<img id="img" class="card-img-top" src = "{{events.img}}" width="150" height="100" alt="Card image cap">
		<h5 class="page-header">{{events.eventName}}</h5>
		<p>{{events.eventDate|date('d-m-Y')}}</p>
		<p>{{events.eventTime|date('H:i')}}</p>
		<a href="/details/{{events.id}}" class="btn btn-sm btn-success"><i class="far fa-eye"></i></a>
			<hr>
		</div>
		{% endfor %}
</div>
{% endblock %}